<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
  <h1>Admin Login</h1>
  <div class="skapa"><form id="login" action="/admin-login" method="POST">
    <br><label for="username">Användarnamn:</label>
    <br><input type="text" id="username" name="username" required>
    <br><label for="password" id="lösen">Lösenord:</label>
    <br><input type="password" id="password" name="password" required>
    <br><button class="button-17" type="submit">Logga in</button>
  </form>
  </div>

</body>
</html>