<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
  <h1>NTI FORUM</h1>
<div class="skapa">
  <div class="login-text-container">
    <a href="/login">Logga in</a> 
    <br><a id="registrera"href="/register">Registrera</a>
    <br><a id="registrera"href="/admin-login">Admin-Login</a>
  </div>
</div>
</body>
</html>
