<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
  <h1>NTI FORUM</h1>
<div class="skapa">
    <a href="/login">Log in</a> 
    <br><a id="registrera"href="/register">Register</a>
</div>
</body>
</html>
