<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
  <h1>NTI FORUM</h1>
<div class="skapa">
    <div class="skapatext">
        <a href="/login">Log in</a> 
        <br><a href="/register">Register</a>
    </div>
</div>
</body>
</html>
