body {
  background-color: #212121;
  align-items: center;
  text-align: center;
  overflow-x: hidden; 
  font-family: Google Sans, Helvetica Neue, sans-serif;
}

#title {
  margin: 0;
  margin-top: 30px;
  font-size: 40px;
  color: white;
  text-align: left;
  margin-left: 80px;
}

.App-logo {
  margin-top: 10px;
  width: 5%;
  height: 5%;
}

.button-events {
  font-weight: bold;
  font-family: Google Sans, Helvetica Neue, sans-serif;
  margin-top: 350px;
  background-color: rgba(100,77,237,0.08);
  width: 150px;
  height: 50px;
  align-items: center;
  padding: 1em;
  border: 0px solid transparent;
  border-radius: 1.25em;
  transition: all 0.2s linear;
  color: #6361D9;
  font-size: 17px;
}

.button-events:hover {
  background-color: rgba(74, 57, 170, 0.08);
  color: #5250b4;
}

.footer {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #212121;
  border-top: solid rgb(47, 47, 47);
  align-items: left;
}

.footer p {
  text-align: left;
  margin: 0;
  margin-top: 5px;
  color: white;
  margin-left: 80px;
}

#title-p {
  font-weight: bold;
  color: #5250b4;
}

#bottomimg {
  position: absolute;
  width:4.5%;
  height:80%;
  bottom: 10px;
  left: 7px;
}

#topimg {
  position: absolute;
  width:4%;
  height:8%;
  top: 10px;
  left: 7px;
}